{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>{% block title %}{% endblock %} Home page</title>
	
	
	{% include 'personal/head_css.html' %}
</head>

<body class="body" style="background-image:url({% static 'personal/img/Back.jpg' %});position:center">
	
	{% block navbar %}

	{% endblock %}


	<div class="jumbtron" style="min-height:95%;">
		 {% block jumbotron %} 
			 
		 {% endblock %}

		<div class="row">
		  <div class="col-sm-2">
		  <br>

		  
		   <!-- Great, til you resize. -->
			<!--<div class="well bs-sidebar affix" id="sidebar" style="background-color:#fff">-->
			<div class="well bs-sidebar" id="sidebar" style="background-color:transparent;border:0px">
			  <ul class="nav nav-pills nav-stacked">
				<li><a href='/'>Home</a></li>
				<li><a href='/blog/'>Blog</a></li>
				<li><a href='/contact/'>Contact</a></li>
			  </ul>
			</div> <!--well bs-sidebar affix-->
		  </div> <!--col-sm-2-->
		  <div class="col-sm-10">
		  
			<div class='container'>
			<br><br>
			   {% block content %}
			   {% endblock %}	
			</div>
		  </div>
		</div> 
	</div>

	<footer>
		<center>
		<div class="container-fluid" style='margin-left:15px'>
			<p><a href="/contact/" target="blank">Contact</a> | <a href="#" target="blank">LinkedIn</a> | <a href="#" target="blank">Twitter</a> | <a href="#" target="blank">Google+</a></p>
		</div>
		</center>
	</footer>	
	
</body>

</html>